[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orjson = "*"
pydantic = ">=2"
"discord.py" = {extras = ["voice"], version = "*"}
websockets = "*"

[dev-packages]
mypy = "*"
pre-commit = "*"
furo = "*"
sphinx = "*"
myst-parser = "*"
black = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"
