[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orjson = "*"
"discord.py" = {extras = ["voice"], version = "*"}

[dev-packages]
mypy = "*"
pre-commit = "*"
furo = "*"
sphinx = "*"
myst-parser = "*"
black = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"
